.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 450px;
  margin: 20px auto;
}

.label {
  color: #766;
  font-size: 20px;
  padding-bottom: -5px;
}
.input {
  width: 300px;
  height: 30px;
  outline-color: transparent;
  border: transparent;
  border-bottom: 1px solid #888;
}
.input:focus {
  font-size: 16px;
  border-bottom: 1px solid #aa3bff;
}
